@{
    ViewBag.Title = "Registration Complete";
}
<h2>@ViewBag.Title</h2>
<p class="text-info">
    Thank you for registering!
</p>
<p class="text-danger">
    Please continue by using the navigation bar above^!
</p>
