
@{
    ViewBag.Title = "Blog";
}

<!-- Content page -->
<section>
    <div class="bread-crumb bo5-b p-t-17 p-b-17">
        <div class="container">
            <a href="@Url.Action("Index","Home")" class="txt27">
                Home
            </a>

            <span class="txt29 m-l-10 m-r-10">/</span>

            <span class="txt29">
                Blog
            </span>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-12">
                <div class="p-t-80 p-b-124 bo5-r h-full p-r-50 p-r-0-md bo-none-md">
                    
                    <!-- Blog 1 -->

                    <div class="blo4 p-b-63">
                        <div class="pic-blo4 hov-img-zoom bo-rad-10 pos-relative">
                            <a>
                                <img src="~/Content/images/blog1.jpg" alt="IMG-BLOG">
                            </a>
                            <div class="date-blo4 flex-col-c-m">
                                <span class="txt30 m-b-4">
                                    21
                                </span>
                                <span class="txt31">
                                    Jan, 2020
                                </span>
                            </div>
                        </div>
                        <div class="text-blo4 p-t-33">
                            <h4 class="p-b-16">
                                <a class="tit9">When it's right, it's right.</a>
                            </h4>
                            <div class="txt32 flex-w p-b-24">
                                <span>
                                    by Admin
                                    <span class="m-r-6 m-l-4">|</span>
                                </span>
                                <span>
                                    21 January, 2020
                                    <span class="m-r-6 m-l-4">|</span>
                                </span>
                                <span>
                                    Family
                                    <span class="m-r-6 m-l-4">|</span>
                                </span>
                            </div>
                            <p>
                                You just know when it was meant to be. Your pets love their time at FF Rn'R. We have a passion for animals and a passion for your pets. We get the opportunity to spend the day with them, taking care of them and pampering them until they get to see you again. I know it can be tough leaving your pets with someone else but we promise to take care of them as if they were our own.
                            </p>
                        </div>
                    </div>

                    <!-- Blog 2 -->

                    <div class="blo4 p-b-63">
                        <div class="pic-blo4 hov-img-zoom bo-rad-10 pos-relative">
                            <a>
                                <img src="~/Content/images/blog2.jpg" alt="IMG-BLOG">
                            </a>
                            <div class="date-blo4 flex-col-c-m">
                                <span class="txt30 m-b-4">
                                    15
                                </span>
                                <span class="txt31">
                                    March, 2020
                                </span>
                            </div>
                        </div>
                        <div class="text-blo4 p-t-33">
                            <h4 class="p-b-16">
                                <a class="tit9">Carona Shamona...</a>
                            </h4>
                            <div class="txt32 flex-w p-b-24">
                                <span>
                                    by Snuggles
                                    <span class="m-r-6 m-l-4">|</span>
                                </span>
                                <span>
                                    15 March, 2020
                                    <span class="m-r-6 m-l-4">|</span>
                                </span>
                                <span>
                                    Pandemic
                                    <span class="m-r-6 m-l-4">|</span>
                                </span>
                            </div>
                            <p>
                                All I hear is about how the Carona Virus has changed up your routine. Did you think about how it effects me? I now have to see you every second of every day! No, no, no... I do love spending time with you but how am I supposed to be as excited seeing you all the time as I am when seeing you after work?!? When at Furry Friend R n' R I get to spend time with my friends and the hoomans there always take really good care of me!
                            </p>
                        </div>
                    </div>

                    <!-- Blog 3 -->

                    <div class="blo4 p-b-63">
                        <div class="pic-blo4 hov-img-zoom bo-rad-10 pos-relative">
                            <a>
                                <img src="~/Content/images/blog3.jpg" alt="IMG-BLOG">
                            </a>
                            <div class="date-blo4 flex-col-c-m">
                                <span class="txt30 m-b-4">
                                    12
                                </span>
                                <span class="txt31">
                                    June, 2020
                                </span>
                            </div>
                        </div>
                        <div class="text-blo4 p-t-33">
                            <h4 class="p-b-16">
                                <a class="tit9">Bye!</a>
                            </h4>
                            <div class="txt32 flex-w p-b-24">
                                <span>
                                    by Sprinkles
                                    <span class="m-r-6 m-l-4">|</span>
                                </span>
                                <span>
                                    12 June, 2020
                                    <span class="m-r-6 m-l-4">|</span>
                                </span>
                                <span>
                                    Fulfilled
                                    <span class="m-r-6 m-l-4">|</span>
                                </span>
                            </div>
                            <p>
                                Bye! I miss you when you leave. Don't feel bad. I love my time with you and there is no place I would rather be, but when I don't get to visit FF R n' R I miss my friends there. I just don't want you to worry about me when you drop me off. They treat me so well and I just get to relax, cuddle and play with toys that we don't have at home. So... anytime you need to get away, you know where to put me. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

