
@{
    ViewBag.Title = "Services";
}


<!-- Main menu -->
<section class="section-mainmenu p-t-110 p-b-70 bg1-pattern">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-6 p-r-35 p-r-15-lg m-l-r-auto">
                <div class="wrap-item-mainmenu p-b-22">
                    <h3 class="tit-mainmenu tit10 p-b-25">
                        PET DAYCARE / BOARDING SERVICES
                    </h3>
                    <!-- Item mainmenu -->
                    <div class="item-mainmenu m-b-36">
                        <div class="flex-w flex-b m-b-3">
                            <a href="#" class="name-item-mainmenu txt21">
                                5 Hours Or Less Daycare
                            </a>

                            <div class="line-item-mainmenu bg3-pattern"></div>

                            <div class="price-item-mainmenu txt22">
                                $25.00/pet
                            </div>
                        </div>

                        <span class="info-item-mainmenu txt23">
                            Pet daycare for 5 hours or less. Pickup by 6:45pm.
                        </span>
                    </div>

                    <!-- Item mainmenu -->
                    <div class="item-mainmenu m-b-36">
                        <div class="flex-w flex-b m-b-3">
                            <a class="name-item-mainmenu txt21">
                                All Day Daycare
                            </a>

                            <div class="line-item-mainmenu bg3-pattern"></div>

                            <div class="price-item-mainmenu txt22">
                                $30.00/pet
                            </div>
                        </div>

                        <span class="info-item-mainmenu txt23">
                            Pet daycare for all day. Pickup by 6:45pm.
                        </span>
                    </div>

                    <!-- Item mainmenu -->
                    <div class="item-mainmenu m-b-36">
                        <div class="flex-w flex-b m-b-3">
                            <a class="name-item-mainmenu txt21">
                                Overnight Boarding
                            </a>

                            <div class="line-item-mainmenu bg3-pattern"></div>

                            <div class="price-item-mainmenu txt22">
                                $50.00/pet
                            </div>
                        </div>

                        <span class="info-item-mainmenu txt23">
                            Overnight boarding which includes daycare throughout the day time.
                        </span>
                    </div>

                    <!-- Item mainmenu -->
                    <div class="item-mainmenu m-b-36">
                        <div class="flex-w flex-b m-b-3">
                            <a class="name-item-mainmenu txt21">
                                Overnight Boarding for Multiple Pets
                            </a>

                            <div class="line-item-mainmenu bg3-pattern"></div>

                            <div class="price-item-mainmenu txt22">
                                Varies
                            </div>
                        </div>

                        <span class="info-item-mainmenu txt23">
                            First pet is $50/night and $35/night for multiple pets after the first.
                        </span>
                    </div>
                </div>

                <div class="wrap-item-mainmenu p-b-22">
                    <h3 class="tit-mainmenu tit10 p-b-25">
                        A LA CARTE SERVICES
                    </h3>

                    <!-- Item mainmenu -->
                    <div class="item-mainmenu m-b-36">
                        <div class="flex-w flex-b m-b-3">
                            <a class="name-item-mainmenu txt21">
                                Nail Trim
                            </a>

                            <div class="line-item-mainmenu bg3-pattern"></div>

                            <div class="price-item-mainmenu txt22">
                                $10.00/pet
                            </div>
                        </div>

                        <span class="info-item-mainmenu txt23">
                            Trim or grind your pets nails.
                        </span>
                    </div>

                    <!-- Item mainmenu -->
                    <div class="item-mainmenu m-b-36">
                        <div class="flex-w flex-b m-b-3">
                            <a class="name-item-mainmenu txt21">
                                Teeth Brushing & Breath Freshener
                            </a>

                            <div class="line-item-mainmenu bg3-pattern"></div>

                            <div class="price-item-mainmenu txt22">
                                $10.00/pet
                            </div>
                        </div>

                        <span class="info-item-mainmenu txt23">
                            Cleans teeth and freshens breath.
                        </span>
                    </div>

                    <!-- Item mainmenu -->
                    <div class="item-mainmenu m-b-36">
                        <div class="flex-w flex-b m-b-3">
                            <a class="name-item-mainmenu txt21">
                                Ear Cleaning / Ear Flushing
                            </a>

                            <div class="line-item-mainmenu bg3-pattern"></div>

                            <div class="price-item-mainmenu txt22">
                                $10.00/pet
                            </div>
                        </div>

                        <span class="info-item-mainmenu txt23">
                            Reduces build-ups to help prevent infections.
                        </span>
                    </div>

                    <!-- Item mainmenu -->
                    <div class="item-mainmenu m-b-36">
                        <div class="flex-w flex-b m-b-3">
                            <a href="#" class="name-item-mainmenu txt21">
                                Flea & Tick Services
                            </a>

                            <div class="line-item-mainmenu bg3-pattern"></div>

                            <div class="price-item-mainmenu txt22">
                                $25.00/pet
                            </div>
                        </div>

                        <span class="info-item-mainmenu txt23">
                            Protect your pet monthly from fleas & ticks.
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-10 col-lg-6 p-l-35 p-l-15-lg m-l-r-auto">
                <div class="wrap-item-mainmenu p-b-22">
                    <h3 class="tit-mainmenu tit10 p-b-25">
                        GROOMING SERVICES
                    </h3>

                    <!-- Item mainmenu -->
                    <div class="item-mainmenu m-b-36">
                        <div class="flex-w flex-b m-b-3">
                            <a href="#" class="name-item-mainmenu txt21">
                                Bath & Brush
                            </a>

                            <div class="line-item-mainmenu bg3-pattern"></div>

                            <div class="price-item-mainmenu txt22">
                                $40.00/dog
                            </div>
                        </div>

                        <span class="info-item-mainmenu txt23">
                            Service includes a bath, blow dry, and full brushing.
                        </span>
                    </div>

                    <!-- Item mainmenu -->
                    <div class="item-mainmenu m-b-36">
                        <div class="flex-w flex-b m-b-3">
                            <a href="#" class="name-item-mainmenu txt21">
                                Bath & Full Haircut
                            </a>

                            <div class="line-item-mainmenu bg3-pattern"></div>

                            <div class="price-item-mainmenu txt22">
                                $75.00/dog
                            </div>
                        </div>

                        <span class="info-item-mainmenu txt23">
                            Service includes Bath services plus a full haircut or shave.
                        </span>
                    </div>

                    <!-- Item mainmenu -->
                    <div class="item-mainmenu m-b-36">
                        <div class="flex-w flex-b m-b-3">
                            <a href="#" class="name-item-mainmenu txt21">
                                Bath & Brush
                            </a>

                            <div class="line-item-mainmenu bg3-pattern"></div>

                            <div class="price-item-mainmenu txt22">
                                $30.00/cat
                            </div>
                        </div>

                        <span class="info-item-mainmenu txt23">
                            Service includes a bath, blow dry, and full brushing.
                        </span>
                    </div>

                    <!-- Item mainmenu -->
                    <div class="item-mainmenu m-b-36">
                        <div class="flex-w flex-b m-b-3">
                            <a href="#" class="name-item-mainmenu txt21">
                                Bath & Full Haircut
                            </a>

                            <div class="line-item-mainmenu bg3-pattern"></div>

                            <div class="price-item-mainmenu txt22">
                                $60.00/cat
                            </div>
                        </div>

                        <span class="info-item-mainmenu txt23">
                            Service includes Bath services plus a full haircut or shave.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


